body{
    background-color: yellow;
}
/* h1
{

} */
/*  */
nav{
display: flex;
flex-direction: row;
justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}